

.imagenSuperior {
      height: 100%;
      width: 100%;
      z-index: -1;
  }

.tituloPrincipalInicio{
    display: flex;
    font-size: 14vh;
    position: relative;
    bottom: 97vh;
    left: 4%;
    width: 85%;
    font-weight: 700;
    color: #fff;
    z-index: 1;
}
.primerTexto{
    display: flex;
    justify-content: space-around;
    align-items: self-start;
    margin-bottom: -18%;
}
.textoInicio{
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    bottom: 46vh;
    width: 90%;
    text-align: left;
}
.quienesSomos{
    color: #71277a;
}
.imagenPrimerTexto{
    display: flex;
    position: relative;
    width: 18%;
    height: 18%;
    bottom: 46vh;
}
.primerTextoImagen{
    position: relative;
    left: 13%;
}
.misionVision{
    display: flex;
    justify-content: space-around;
}
.parrafoVisionMision{
    width: 36%;
    text-align: left;
    border-radius: 12px;
    padding: 17px;
    height: 20%;
    box-shadow: 3px 5px 15px 5px #797979;
}
.tituloInicioPaginaMV{
    text-align: center;
    color: #71277a;
}
.imagenVision{
    width: 38.8%;
    height: 38.8%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}
.imagenMision{
    width: 40%;
    height: 40%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}


