.crudVendedorSemillas{
  margin-left: 21%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30px;
}

  .cardMisProductos{
    background: #d9d9d9;
    width: 86%;
    margin-bottom: 10%;
    border-radius: 10px;
    display: grid;
    -webkit-box-shadow: 8px 7px 24px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 7px 24px -12px rgba(66, 68, 90, 1);
    box-shadow: 8px 7px 24px -12px rgba(66, 68, 90, 1);
}
.nombreMisProductos{
  font-weight: 600;
  font-size: 24px;
}
.imagenMisProductos{
  width: 80%; 
  height: 170px;
  border-radius: 7px;
  object-fit: cover;
}
.verMasMisProductos{
  background: #8581814d;
  width: 70%;
  margin-left: 15%;
  height: 38px;
  margin-bottom: 6%;
  margin-top: 2%;
}
.inventarioMisProductos{
  background: #bfbebe;
  width: 11%;
  border-radius: 0px 0px 10px 10px;
  margin-left: 81%;
  position: relative;
  bottom: 30px;
}

@media (max-width: 800px){
  .modal-content{
    width: 75%;
  }
}