.headerInicio{
    background-color: #71277A;
    height: 92px;
    display: flex;
    position: relative;
    width: 100%;
    z-index: 100;
}
.ulNavegacion{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3%;
    font-size: 133%;
    width: 100%;
    right: 12%;
    position: relative;
}
.link{
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 8% ;
    margin-left: 20%;
    position: relative;
    left: 15%;
}
.link:hover{
    color: #fff;
    width: 8% ;
    border-radius: 9px;
}
.linkRegistro{
    border: 1px solid #500659;
    background: #500659;
    color: #fff;
    width: 11%;
    height: 84%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    position: relative;
    left: 13%;
}
.linkRegistro:hover{
    background-color: #300d50;
    color: #fff;
    border: 1px solid #500659;    
}
.imagenHeader{
    width: 21%;
}
@media  (max-width: 1000px){
    .linkRegistro {
        left: -5%;
        width: 38%;
        font-size: 13px;
    }
    .link{
        left: -18%;
        font-size: 13px;
    }
    .imagenHeader{
        width: 30%;
    }
}