
.ProductosAdmin{
    width: 100%;
}

.tituloCrudProductos{
    border-bottom: 0.5px solid;
    width: 262px;
}

.actulizarProductos{
    background-color: #00AF00;
    font-size: 25px;
    border-radius: 15%;
    position: relative;
    top: 12px;
    margin-left: 3%;
    padding: 2px;
}
.eliminarProductos{
    background-color: rgb(180, 30, 30);
    padding: 2px;
    font-size: 25px;
    border-radius: 15%;
    position: relative;
    top: 12px;
    margin-left: 2%;
}
.verMasProductosAdmin{
    background-color: #D9D9D9;
    width: 82%;
}
.crudProductosAdmin{
    width: 80%;
    position: relative;
    left: 18.5%;
}
.accionesProductosAdmin{
    width: 15%;
    position: relative;
}
.buscarProductosAdmin{
    background: #D9D9D9;
    border: none;
    width: 22%;
    height: 40px;
    border-radius: 67px;
    position: relative;
    left: 31%;
    bottom: 27px;
}
.botonBuscarProductosAdmin{
    background-color: #623768;
    position: relative;
    left: 28%;
    width: 3%;
    bottom: 23px;
    border-radius: 70%;
}


/* modal ver mas */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    max-width: 614px;
    width: 100%;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.imgVerMas{
    width: 40%;
    height: 40%;
    object-fit: cover;
    border-radius: 9px;
}


/* modal editar Productos */
.modalEditarProductosAdmin{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.formularioEditarProductosAdmin{
    display: flex;
    flex-direction: column;

}

.inputProductoEditarAdmin{
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #D9D9D9;
    padding: 2%;
}

.botonEditarProductosAdmin{
    background-color: #00AF00;
    height: 49px;
    border-radius: 5px;
}
.iconoFotoProductosAdmin{
    position: relative;
    bottom: 46px;
    font-size: 37px;
    left: 250px;
}


@media  (max-width: 1000px){
    .crudProductosAdmin {
        left: 6.5%;
    }
  }